.k-pagetable-section .category-label {
  font-size: 0.65rem;
  text-transform: uppercase;
  padding: 5px 7px;
  border-radius: 3px;
}
.k-pagetable-section .category-label[data-category="painting"] {
  background: #d7e1e9;
}
.k-pagetable-section .category-label[data-category="drawing"] {
  background: #f5e6bf;
}
.k-pagetable-section .category-label[data-category="curatorial"] {
  background: #cae5dd;
}
.k-pagetable-section .category-label[data-category="editorial"] {
  background: #e0d7dd;
}
